h1,
h2,
h3,
p,
ul,
button,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover {
  outline: none;
}

textarea {
  resize: none;
}

body {
  color: #212121;
}

img {
  display: block;
}

a:hover,
a:focus {
  color: #2196f3;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover {
  border: 1px solid #2196f3;
}

.btn {
  cursor: pointer;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #fff;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 5px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-logo {
  margin-right: 94px;
  padding: 20px 0;
}

.header-logo__text {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
}

.header-logo__text--web {
  color: #2196f3;
}

.header-logo__text--studio {
  color: #000;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__title {
  display: block;
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__title--current {
  position: relative;
  color: #2196f3;
}

.header-nav__title--current::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-contacts {
  padding: 20px 0;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.header-contacts__mail {
  margin-left: auto;
  margin-right: 50px;
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.order {
  position: relative;
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.order__overlay {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgound.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgound.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__center {
  padding: 200px 0;
  text-align: center;
}

.order__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #fff;
}

.order__btn {
  padding: 10px 32px;
}

.icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.peculiarities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.peculiarities__item {
  margin-right: 30px;
  width: 270px;
}

.peculiarities__item:last-child {
  margin-right: 0;
}

.peculiarities__item::before {
  display: block;
  content: '';
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.peculiarities__title {
  margin-bottom: 10px;
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}

.peculiarities__description {
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.03em;
}

.kind-work {
  padding-top: 0;
}

.kind-work__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.kind-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kind-work__item {
  margin-right: 30px;
}

.kind-work__item:last-child {
  margin-right: 0;
}

.kind-work__img {
  position: relative;
}

.kind-work__overlay {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px 79px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}

.our-team {
  background: #f5f4fa;
}

.our-team__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-color);
}

.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-cards__item:last-child {
  margin-right: 0;
}

.team-cards__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team-description {
  padding: 30px 0;
}

.team-description .team-description__names, .team-description .team-description__position {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}

.team-description__names {
  color: #212121;
}

.team-description__position {
  color: #757575;
}

.team-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team-social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links__item {
  margin-right: 10px;
}

.team-social-links__item:last-child {
  margin-right: 0;
}

.team-social-links__icon {
  fill: currentColor;
}

.team-social-links__link:hover, .team-social-links__link:focus {
  color: #fff;
  background-color: #2196f3;
}

.customers__sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 170px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__list:last-child {
  margin-right: 0;
}

.customers__item {
  fill: currentColor;
}

.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196f3;
}

.customers__list {
  margin-right: 30px;
}

.customers__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.page-footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer-address__links {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  margin-bottom: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__contacts {
  color: #fff;
  opacity: 0.6;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo {
  display: inline-block;
  font-family: Raleway;
  margin-bottom: 20px;
}

.footer-logo__text {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
}

.footer-logo__text--web {
  color: #2196f3;
}

.footer-logo__text--studio {
  color: #fff;
}

.footer-social-links {
  margin-left: 70px;
}

.footer-social-links__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-social-links__sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-social-links__list {
  margin-right: 10px;
}

.footer-social-links__list:last-child {
  margin-right: 0;
}

.footer-social-links__icon {
  fill: currentColor;
}

.footer-social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links__item:hover, .footer-social-links__item:focus {
  background-color: #2196f3;
  color: #fff;
}

.footer-subscription {
  margin-left: 94px;
}

.footer-subscription__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}

.footer-subscription__input {
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background: none;
  color: #fff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-subscription__send-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.modal__ellipse {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0.2;
}

.modal__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal__svg-name {
  position: relative;
  width: 100%;
}

.modal__input {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 28px;
}

.modal__label {
  position: absolute;
  top: -4px;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal__feedback::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__feedback:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__feedback::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__feedback::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal__input-svg {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal__checkbox-svg {
  position: absolute;
  /* left: 4px; */
  top: 6px;
  z-index: 1;
  height: 14px;
  width: 14px;
  background-color: #2196f3;
}

.modal__checkbox {
  position: absolute;
  /* left: 4px; */
  top: 6px;
  z-index: 2;
  height: 16px;
  width: 16px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked {
  opacity: 0;
}

.modal__label-checkbox {
  color: #757575;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.modal__contract {
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.modal__btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__submit {
  padding: 10px 55px;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover + .modal__input-icon,
.modal__input:focus + .modal__input-icon {
  fill: #2196f3;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}
/*# sourceMappingURL=main.css.map */