html {
  box-sizing: border-box;
}

/* GENERAL */
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-color: #212121;
  --contacts-header-color: #757575;
  --contacts-footer-color: #fff;
  --web-color: #2196f3;
  --background-color: #2f303a;
  --link-color: #afb1b8;
  --team-color: #f5f4fa;
  --animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-bgcolor: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-boxshadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', Raleway, sans-serif;
  color: var(--main-color);
  border: none;
  margin: 0;
  /* padding-top: 80px; */
}
h1,
h2,
h3,
p,
ul,
button,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--web-color);
}

img {
  display: block;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover {
  outline: none;
  border: 1px solid var(--web-color);
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.no-padding-top {
  padding-top: 0;
}

.centered {
  text-align: center;
}

.btn {
  cursor: pointer;
  /*margin-bottom: 200px;*/
  background: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--contacts-footer-color);
}

.size-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
}

.size-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.size-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}

.size-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}
.text-modal {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 5px;
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0; */
}

.main-nav {
  display: flex;
  align-items: baseline;
}

.web-studio-link {
  margin-right: 94px;
  padding: 20px 0;
}
.web-studio-link-color-web,
.navigation-links-item .current {
  color: var(--web-color);
}

.web-studio-link-color-studio {
  color: #000;
}

.navigation-links {
  display: flex;
}

.navigation-links .navigation-links-item {
  margin-right: 50px;
}
.navigation-links .navigation-links-item:last-child {
  margin-right: 0;
}

.navigation-links-title {
  display: block;
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
  transition: var(--animation-color);
}
.current {
  position: relative;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--web-color);
  border-radius: 2px;
}

.contacts-header-mail {
  margin-left: auto;
  margin-right: 50px;
  padding: 20px 0;
  color: var(--contacts-header-color);
  transition: var(--animation-color);
}
.header-svg {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-header-tel {
  padding: 20px 0;
  color: var(--contacts-header-color);
  transition: var(--animation-color);
}

.page-footer {
  background: var(--background-color);
  padding: 60px 0;
}

.web-studio-link-footer {
  display: inline-block;
  font-family: Raleway;
  margin-bottom: 20px;
}
.web-studio-link-color-studio-footer {
  color: var(--contacts-footer-color);
}
.web-studio {
  display: flex;
  align-items: baseline;
}

.page-address {
  display: flex;
  flex-direction: column;
}
.main-footer {
  display: flex;
  flex-direction: column;
}

.footer-social-links {
  margin-left: 70px;
}
.contacts-footer {
  color: var(--contacts-footer-color);
  opacity: 0.6;
  margin-bottom: 9px;
  transition: var(--animation-color);
}

.footer-address-links {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--contacts-footer-color);
  margin-bottom: 20px;
  transition: var(--animation-color);
}
.footer-join-text {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contacts-footer-color);
  margin-bottom: 20px;
}

.footer-sprite {
  display: flex;
  align-items: flex-start;
  /* margin-top: 20px; */
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--contacts-footer-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--animation-bgcolor);
}
.footer-item {
  fill: currentColor;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--web-color);
  color: var(--contacts-footer-color);
}
.footer-list {
  margin-right: 10px;
}
.footer-list:last-child {
  margin-right: 0;
}

.footer-subscription {
  margin-left: 94px;
}
.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}

.footer-input {
  padding: 15px;

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background: none;
  color: var(--contacts-footer-color);
  transition: var(--animation-border);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-send-item {
  margin-left: 10px;
}
.footer-input-btn {
  display: flex;
}
/*STUDIO MAIN*/

.overlay {
  background-color: var(--background-color);
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/backgound.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-padding {
  padding: 200px 0;
  text-align: center;
}
.order-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--contacts-footer-color);
}

.order-service {
  padding: 10px 32px;
}

.peculiarities-list,
.kind-work-list,
.our-team-list {
  display: flex;
  justify-content: center;
}

.peculiarities-item::before {
  display: block;
  content: '';
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--team-color);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.peculiarities-list .peculiarities-item {
  margin-right: 30px;
  width: 270px;
}

.peculiarities-list .peculiarities-item:last-child {
  margin-right: 0;
}
.peculiarities-title {
  margin-bottom: 10px;
  color: var(--main-color);
  text-transform: uppercase;
}

.peculiarities-text {
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
  letter-spacing: 0.03em;
}

.kind-work-thumb {
  position: relative;
}

.kind-work-img-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  color: var(--contacts-footer-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px 80px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.kind-work-list .kind-work-item,
.our-team-list .our-team-item,
.customers-list {
  margin-right: 30px;
}

.kind-work-list .kind-work-item:last-child {
  margin-right: 0;
}
.kind-work-title,
.our-team-title,
.regular-customers-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-color);
}

.our-team {
  background: var(--team-color);
}

.our-team-list .our-team-item:last-child {
  margin-right: 0;
}

.our-team-item {
  background-color: var(--contacts-footer-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-container {
  padding: 30px 0;
}
.icons-sprite {
  display: flex;
  /* padding: 0 auto; */
  justify-content: center;
  margin-top: 16px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--link-color);
  transition: var(--animation-color), var(--animation-bgcolor);
}

.icon-list {
  margin-right: 10px;
}
.icon-list:last-child {
  margin-right: 0;
}
.links-item {
  fill: currentColor;
}

.team-link:hover,
.team-link:focus {
  color: var(--contacts-footer-color);
  background-color: var(--web-color);
}

.team-names {
  color: var(--main-color);
}
.team-position {
  color: var(--contacts-header-color);
}

.customers-sprite {
  display: flex;
  justify-content: center;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 4px;
  transition: var(--animation-color), var(--animation-border);
}

.customers-list:last-child {
  margin-right: 0;
}
.customers-item {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--web-color);
}
/*PORTFOLIO MAIN*/

.projects-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-btn:hover,
.projects-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--web-color);
  color: var(--contacts-footer-color);
}
.projects-btn-list .project-item {
  margin-right: 8px;
}
.projects-btn-list .project-item:last-child {
  margin-right: 0;
}

.projects-btn {
  padding: 6px 22px;
  font-family: Roboto;
  cursor: pointer;
  background: var(--team-color);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-color);
  transition: var(--animation-color), var(--animation-bgcolor), var(--animation-boxshadow);
}

.projects-container {
  padding: 20px 24px;
}
.projects-img-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.projects-img-list .projects-img-item {
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
  transition: var(--animation-boxshadow);
}

.projects-img-thumb {
  position: relative;
  overflow: hidden;
}

.projects-text-thumb {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--team-color);
  background: rgba(33, 150, 243, 0.9);
  text-align: left;
  letter-spacing: 0.03em;

  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
}

.projects-img-item:hover .projects-text-thumb {
  transform: translateY(0);
}

.projects-img-item:hover,
.projects-img-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-img-item:nth-child(3n) {
  margin-right: 0;
}
.projects-img-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
}

.projects-description {
  font-size: 18px;
  line-height: 1.9;
  color: var(--contacts-header-color);
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--contacts-footer-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.modal_close_btn {
  cursor: pointer;
  position: absolute;
  /* border-radius: 50%; */
  top: 14px;
  right: 14px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
.modal_close_btn:hover,
.modal_close_btn:focus {
  fill: var(--web-color);
}
.modal-ellipse {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0.2;
}

.input-container {
  display: flex;
  flex-direction: column;
}
.modal-submit {
  padding: 10px 55px;
}

.modal-btn-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.svg-name {
  position: relative;
  width: 100%;
}

/* .svg-name:hover,
.svg-name:focus {
  fill: var(--web-color);
} */

input.input-modal:focus + .svg-name-item,
input.input-modal:hover + .svg-name-item {
  fill: var(--web-color);
}

.input-modal {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 28px;
}
.svg-name-item {
  position: absolute;
  left: 15px;
  top: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-modal {
  position: absolute;
  top: -4px;
  left: 0;
  transform: translateY(-100%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;

  letter-spacing: 0.01em;
  color: var(--contacts-header-color);
}

.modal-feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-feedback::placeholder {
  /* padding: 12px 16px; */
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.input-modal,
.modal-feedback {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: var(--animation-border);
}

.modal-label-checkbox-svg {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}
.input-svg {
  position: relative;
  align-items: center;
  text-align: center;
}

.modal-checkbox {
  position: absolute;
  /* left: 4px; */
  top: 6px;
  z-index: 2;
  height: 16px;
  width: 16px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-svg {
  position: absolute;
  /* left: 4px; */
  top: 6px;
  z-index: 1;
  height: 14px;
  width: 14px;
  background-color: var(--web-color);
}

.modal-checkbox:checked {
  opacity: 0;
}

.label-checkbox {
  color: var(--contacts-header-color);
}
.modal-contract {
  color: var(--web-color);
  text-decoration-line: underline;
}
